#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.demo {
  margin: 0;
  width: calc(100vw - 5px);
  height: calc(100vh - 5px);
  left: 5px;
  top: 5px;
  background: linear-gradient(45deg, #f2f2f2, #23b9d9);
}
